<app-edit-set-form 
    *ngIf = "isBeingEdited"
    [index] = "index"
    [set] = "setForm"
    [exerciseNames] = "exerciseNames"
    (submit) = "updateSet()"
>
</app-edit-set-form>
<div *ngIf = "!isBeingEdited" class = "editable-set">
    <div>
        <div class = "workout-set-headers">
            <app-workout-set-headers [index] = "index"></app-workout-set-headers>
        </div>
        <mat-divider></mat-divider>
        <div class = "set-content">
            <app-set-content [set] = "set"></app-set-content>
        </div>
    </div>
    <div class = "space-fill-container"></div>
    <div>
        <div class = "buttons">
            <button mat-raised-button class = "edit-button" (click) = "startEditing()">Edit</button>
            <button mat-raised-button class = "duplicate-button" (click) = "duplicateSet()">Duplicate</button>
            <button mat-raised-button color = "warn" (click) = "removeSet()">Remove</button>
        </div>
    </div>
</div>
