.editable-set {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0px 10px;
}

.workout-set-headers {
    margin-bottom: 10px;
}

.set-content {
    margin-left: 30px;
}

.space-fill-container {
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.edit-button {
    margin-right: 10px;
}

.duplicate-button {
    margin-right: 10px;
}