.workout-name-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.workout-name-form-field {
    margin-right: 10px;
}

.workout-name {
    font-size: 20px;
    margin-right: 10px;
}