<div *ngIf = "isBeingEdited" class = "workout-name-container">
    <app-workout-name-form-field 
        class = "workout-name-form-field" 
        [name] = "name"
        (enter) = "onEdit()"
    >
    </app-workout-name-form-field>
    <button mat-raised-button (click) = "onEdit()">Save</button>
</div>
<div *ngIf = "!isBeingEdited" class = "workout-name-container">
    <div class = "workout-name">{{ name.value }}</div>
    <button mat-raised-button (click) = "isBeingEdited = true">Edit</button>
</div>
