<app-edit-exercise-description-form 
    *ngIf = "isBeingEdited" 
    [exerciseDescription] = "exerciseDescription"
    (submit) = "onUpdate()"
>
</app-edit-exercise-description-form>
<div *ngIf = "!isBeingEdited" class = "exercise-description">
    <div>{{ exerciseDescription.name }}</div>
    <div class = "space-fill-container"></div>
    <div>
        <button mat-raised-button class = "edit-button" (click) = "edit()">Edit</button>
        <button mat-raised-button color = "warn" (click) = "delete()">Delete</button>
    </div>
</div>
<mat-divider></mat-divider>  
