<div *ngIf = "isBeingEdited" class = "exercise-description">
    <input placeholder = "Exercise Name" [(ngModel)] = "exerciseDescription.name">
    <div class = "space-fill-container"></div>
    <div>
        <button (click) = "save()">Save</button>
    </div>
</div>  
<div *ngIf = "!isBeingEdited" class = "exercise-description">
    <div>{{ exerciseDescription.name }}</div>
    <div class = "space-fill-container"></div>
    <div>
        <button class = "edit-button" (click) = "edit()">Edit</button>
        <button (click) = "delete()">Delete</button>
    </div>
</div>       
