<app-navbar></app-navbar>
<div class = "workout">
    <h1>{{ workout.name }} - {{ formattedCompletionTime }}</h1>
    <div cdkDropList (cdkDropListDropped) = "moveSet($event)">
        <div 
            *ngFor = "let set of workout.sets; index as i" 
            cdkDrag
        >
            <app-editable-set 
                [workoutId] = "workoutId"
                [set] = "set"
                [index] = "i"
                [exerciseNames] = "exerciseNames"
                (update) = "fetchWorkout()"
                (duplicate) = "duplicateSet(i)"
                (remove) = "removeSet(i)"
            >   
            </app-editable-set>
        </div>
    </div>
    <app-add-set-form 
        [workoutId] = "workoutId" 
        [numberOfSetsInWorkout] = "workout.sets.length" 
        [exerciseNames] = "exerciseNames"
        (submit) = "fetchWorkout()"
    >
    </app-add-set-form >
</div>