.set-headers {
    display: flex;
    flex-direction: row;
}

.exercise-name-column {
    width: 200px;   
}

.constraint-name-column {
    width: 200px;   
}

.recorded-value-column {
    width: 200px;   
}

.minimum-allowed-value-column {
    width: 200px;   
}

.maximum-allowed-value-column {
    width: 200px;   
}