<div class = "title" mat-dialog-title>Create New Exercise</div>
<mat-dialog-content class = "content">    
    <app-exercise-description-form [exerciseDescription] = "exerciseDescription"></app-exercise-description-form>
</mat-dialog-content>
<mat-dialog-actions>
    <button 
        [disabled] = "exerciseDescription.invalid" 
        [mat-dialog-close] = "exerciseDescription.toExerciseDescription()" 
        mat-raised-button 
        color = "primary"
    >
        Create
    </button>
    <button mat-dialog-close mat-raised-button color = "warn">Cancel</button>
</mat-dialog-actions>
