<div class = "workout-list-item">
    <a [routerLink] = "workoutUrl" class = "workout-link">{{ workout.name }}</a>
    <div class = "hyphen">-</div>
    <div 
        *ngIf = "workout.timeCompleted" 
        class = "workout-completion-time"
    >
        Completed on {{ formattedCompletionTime }}
    </div>
    <div 
        *ngIf = "!workout.timeCompleted" 
        class = "workout-completion-time"
    >
        Not Completed
    </div>
    <button [routerLink] = "workoutExecutorUrl" class = "begin-button" mat-raised-button>Begin</button>
    <button (click) = "createNotCompletedCopyOfWorkout()" class = "copy-button" mat-raised-button>Copy As New Workout</button>
    <button (click) = "deleteWorkout()" mat-raised-button color = "warn">Delete</button>
</div>  
<mat-divider></mat-divider>
