.workout-list-item {
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
}

.workout-link {
    flex-grow: 1;
}