.workout-list-item {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}

.workout-link {
    margin-right: 10px;
}

.hyphen {
    font-weight: bold;
    margin-right: 10px;
}

.workout-completion-time {
    flex-grow: 1;
}

.copy-button {
    margin-right: 10px;
}