<app-navbar></app-navbar>
<div class = "exercise-description-list">
    <app-exercise-description 
        *ngFor = "let exerciseDescription of exerciseDescriptions"
        [exerciseDescription] = "exerciseDescription"
        (update) = "fetchExerciseDescriptions()"
    >
    </app-exercise-description>
    <app-add-exercise-description-form
        *ngIf = "isCreatingNewExerciseDescription" 
        (submit) = "onCreateExerciseDescription()"
    >
    </app-add-exercise-description-form>
    <button 
        *ngIf = "!isCreatingNewExerciseDescription" 
        mat-raised-button
        class = "create-new-exercise-button"
        (click) = "isCreatingNewExerciseDescription = true"
    >
        Create New Exercise
    </button>
</div>
