<div 
    class = "exercise-description" 
    fxLayout = "row" 
    fxLayoutAlign = "start center" 
    fxLayoutGap = "10px"
>
    <div fxFlex = "1 1 100%">
        <div class = "name">{{ exerciseDescription.name }}</div>
        <div class = "notes">{{ exerciseDescription.notes }}</div>
        <div fxLayout = "row wrap" fxLayoutGap = "5px">
            <div
                *ngFor = "let muscleGroup of exerciseDescription.muscleGroups" 
                class = "muscle-group"
            >
                {{ muscleGroup }}
            </div>
        </div>
    </div>
    <div fxLayout = "row">
        <button 
            (click) = "edit()" 
            mat-icon-button 
            matTooltip = "edit"
            color = "primary"
        >
            <mat-icon>edit</mat-icon>
        </button>
        <button 
            (click) = "delete()" 
            mat-icon-button 
            matTooltip = "delete"
            color = "warn"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
