<div fxLayout = "column" fxLayoutGap = "5px">
    <div class = "muscle-groups-label">Muscle Groups</div>
    <mat-checkbox (change) = "updateMuscleGroup('Abs', $event.checked)" [checked] = "muscleGroups.abs.value" color = "primary">Abs</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Biceps', $event.checked)" [checked] = "muscleGroups.biceps.value" color = "primary">Biceps</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Calves', $event.checked)" [checked] = "muscleGroups.calves.value" color = "primary">Calves</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Delts', $event.checked)" [checked] = "muscleGroups.delts.value" color = "primary">Delts</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Glutes', $event.checked)" [checked] = "muscleGroups.glutes.value" color = "primary">Glutes</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Hamstrings', $event.checked)" [checked] = "muscleGroups.hamstrings.value" color = "primary">Hamstrings</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Lats', $event.checked)" [checked] = "muscleGroups.lats.value" color = "primary">Lats</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Lower Back', $event.checked)" [checked] = "muscleGroups.lowerBack.value" color = "primary">Lower Back</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Obliques', $event.checked)" [checked] = "muscleGroups.obliques.value" color = "primary">Obliques</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Pecs', $event.checked)" [checked] = "muscleGroups.pecs.value" color = "primary">Pecs</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Quads', $event.checked)" [checked] = "muscleGroups.quads.value" color = "primary">Quads</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Traps', $event.checked)" [checked] = "muscleGroups.traps.value" color = "primary">Traps</mat-checkbox>
    <mat-checkbox (change) = "updateMuscleGroup('Triceps', $event.checked)" [checked] = "muscleGroups.triceps.value" color = "primary">Triceps</mat-checkbox>
</div>
