<app-navbar></app-navbar>
<div>
    <app-exercise-description-options-bar
        [sortBy] = "sortBy"
        [searchByName] = "searchByName"
        (search) = "fetchExerciseDescriptions()"
        (create) = "openCreateExerciseDescriptionDialog()"
    >
    </app-exercise-description-options-bar>
    <div class = "center-container">
        <div *ngFor = "let exerciseDescription of exerciseDescriptions">
            <app-exercise-description
                [exerciseDescription] = "exerciseDescription"
                (update) = "fetchExerciseDescriptions()"
            >
            </app-exercise-description>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
