<app-navbar></app-navbar>
<div class = "main-container">
    <div class = "center-container">
        <div *ngFor = "let exerciseDescription of exerciseDescriptions" class = "exercises">
            <app-exercise-description
                [exerciseDescription] = "exerciseDescription"
                (update) = "fetchExerciseDescriptions()"
            >
            </app-exercise-description>
            <mat-divider></mat-divider>
        </div>
        <button 
            (click) = "openCreateExerciseDescriptionDialog()"
            class = "create-new-exercise-button"
            mat-raised-button
            color = "primary"
        >
            Create New Exercise
        </button>
    </div>
</div>
