<div class = "constraint-form">
    <div class = "name-column">{{ name }}</div>
    <div class = "recorded-value-column">
        <mat-form-field>
            <input 
                matInput 
                type = "number" 
                placeholder = "Recorded"
                [formControl] = "constraint.recordedValue"
            >
        </mat-form-field>
    </div>
    <div class = "minimum-allowed-value-column">
        <mat-form-field>
            <input 
                matInput 
                type = "number" 
                placeholder = "Minimum"
                [formControl] = "constraint.minimumAllowedValue"
            >
        </mat-form-field>
    </div>
    <div class = "maximum-allowed-value-column">
        <mat-form-field>
            <input 
                matInput 
                type = "number" 
                placeholder = "Maximum"
                [formControl] = "constraint.maximumAllowedValue"
            >
        </mat-form-field>
    </div>
</div>