<div class = "exercise-search-filter">
    <div class = "search-criterion">
        <div>Exercise:</div>
        <select [(ngModel)] = "filter.name">
            <option selected [ngValue] = undefined>Any</option>
            <option *ngFor = "let exerciseName of exerciseNames">{{ exerciseName }}</option>
        </select>
    </div>
    <div class = "search-criterion">
        <div>Weight Used:</div>
        <app-numeric-range-form 
            [lowerBound] = "filter.minimumWeightUsed" 
            [upperBound] = "filter.maximumWeightUsed"
            (changeLowerBound) = "filter.minimumWeightUsed = $event"
            (changeUpperBound) = "filter.maximumWeightUsed = $event"
        >
        </app-numeric-range-form>
    </div>
    <div class = "search-criterion">
        <div>Reps Completed:</div>
        <app-numeric-range-form 
            [lowerBound] = "filter.minimumRepsCompleted" 
            [upperBound] = "filter.maximumRepsCompleted"
            (changeLowerBound) = "filter.minimumRepsCompleted = $event"
            (changeUpperBound) = "filter.maximumRepsCompleted = $event"
        >
        </app-numeric-range-form>
    </div>
    <div class = "search-criterion">
        <div>Time Performed:</div>
        <app-numeric-range-form 
            [lowerBound] = "filter.minimumTimePerformed" 
            [upperBound] = "filter.maximumTimePerformed"
            (changeLowerBound) = "filter.minimumTimePerformed = $event"
            (changeUpperBound) = "filter.maximumTimePerformed = $event"
        >
        </app-numeric-range-form>
    </div>
    <div>
        <button (click) = "emitRemoveEvent()">Remove</button>
    </div>
</div>
