<div 
    *ngIf = "completionTimeForm.value" 
    class = "workout-completion-time-container"
>
    <div class = "completed-label">Completed on {{ completionTimeAsDate!.toDateString() }}</div>
    <mat-checkbox 
        [checked] = "true" 
        (click) = "markNotCompleted()"
    >
    </mat-checkbox>
    <div>
        <input 
            [matDatepicker] = "completionTimeDatePicker" 
            [formControl] = "completionTimeForm"
            (dateChange) = "onUpdate()"
            placeholder = "Choose a date" 
            hidden
        >
        <mat-datepicker-toggle matSuffix [for] = "completionTimeDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #completionTimeDatePicker disabled = "false"></mat-datepicker>
    </div>
</div>
<div *ngIf = "!completionTimeForm.value" class = "workout-completion-time-container">
    <div class = "completed-label">Not Completed</div>
    <mat-checkbox class = "completed-checkbox" (click) = "markCompleted()"></mat-checkbox>
</div>
