.add-exercise-button-container {
    margin: 10px 0px;
}

.time-rested-constraint {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.exercise-name-column {
    width: 200px;   
}

.constraint-name-column {
    width: 200px;   
}

.recorded-value-column {
    width: 200px;   
}

.minimum-allowed-value-column {
    width: 200px;   
}

.maximum-allowed-value-column {
    width: 200px;   
}