<app-navbar></app-navbar>
<div *ngIf = "workoutHasBeenFetched && exercisesHaveBeenFetched" class = "workout">
    <app-workout-header 
        [workout] = "workout"
        (editName) = "openUpdateWorkoutDialog()"
        (updateCompletionTime) = "updateWorkoutCompletionTime($event)"
        (addSet) = "openAddSetDialog()"
    >
    </app-workout-header>
    <mat-divider></mat-divider>
    <div class = "center-container">
        <app-workout-set-list 
            [sets] = "workout.sets" 
            [exerciseNames] = "exerciseNames"
            (moveSet) = "moveSet($event)"
            (updateSet) = "updateSet($event.index, $event.set)"
            (duplicateSet) = "duplicateSet($event)"
            (removeSet) = "removeSet($event)"
        >
        </app-workout-set-list>
    </div>
</div>