<!-- <div class = "set-search-criteria">
    <div class = "header">Search Criteria</div>
    <app-exercise-search-filter 
        *ngFor = "let exerciseCriteria of criteria.exerciseFilters; index as i"
        [exerciseNames] = "exerciseNames"
        [index] = "i"
        [filter] = "criteria.exerciseFilters[i]"
        (remove) = "removeExerciseFilter($event)"
    >
    </app-exercise-search-filter>
    <button class = "add-exercise-filter-button" (click) = "addExerciseFilter()">Add Exercise Filter</button>
    <div class = "set-filters">
        <div>Time Rested:</div>
        <app-numeric-range-form 
            [lowerBound] = "criteria.minimumTimeRested" 
            [upperBound] = "criteria.maximumTimeRested"
            (changeLowerBound) = "criteria.minimumTimeRested = $event"
            (changeUpperBound) = "criteria.maximumTimeRested = $event"
        >
        </app-numeric-range-form>
    </div>
    <button (click) = "emitSearchEvent()">Search</button>
</div> -->
