.set {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
}

.workout-name-column {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.workout-name {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.date-completed-column {
    display: flex;
    flex-direction: column;
    width: 200px
}

.date-completed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}