<mat-form-field class = "input">
    <input 
        matInput 
        type = "text" 
        placeholder = "Exercise Name"
        [formControl] = "name"
        (keyup.enter) = "onEnter()"
    >
    <mat-hint align = "start">
        {{ name.value.length }} / 50
    </mat-hint>
    <mat-error *ngIf = "name.hasError('required')">
        Exercise name is required
    </mat-error>
    <mat-error  *ngIf = "name.hasError('minlength')">
        Exercise name must be at least 3 characters
    </mat-error>
    <mat-error  *ngIf = "name.hasError('maxlength')">
        Exercise name must be at most 50 characters
    </mat-error>
</mat-form-field>
