.editable-set {
    background-color: white;
    border-color: white;
    border-radius: 20px;
    padding: 10px;
}

.index {
    font-weight: 500;
}

.exercise-headers {
    margin-bottom: 5px;
    padding-left: 5px;
}