<div class = "editable-set">
    <div>
        <div class = "workout-set-headers">
            <app-workout-set-headers [index] = "index"></app-workout-set-headers>
        </div>
        <mat-divider></mat-divider>
        <div class = "set-content">
            <app-set-content [set] = "set"></app-set-content>
        </div>
    </div>
    <div class = "space-fill-container"></div>
    <div>
        <div class = "buttons">
            <button mat-raised-button class = "edit-button" (click) = "openUpdateSetDialog()">Edit</button>
            <button mat-raised-button class = "duplicate-button" (click) = "duplicate.emit()">Duplicate</button>
            <button mat-raised-button color = "warn" (click) = "remove.emit()">Remove</button>
        </div>
    </div>
</div>
