<div class = "editable-set" fxLayout = "row" fxLayoutGap = "10px">
    <div class = "index">{{ index + 1 }}</div>
    <div>
        <div class = "exercise-headers">
            <app-exercise-headers></app-exercise-headers>
        </div>
        <app-set-content [set] = "set"></app-set-content>
    </div>
    <div fxFlex = "1 1 100%"></div>
    <div fxLayout = "row">
        <button 
            (click) = "openUpdateSetDialog()"
            mat-icon-button 
            matTooltip = "edit"
            color = "primary"
        >
            <mat-icon>edit</mat-icon>
        </button>
        <button 
            (click) = "duplicate.emit()"
            mat-icon-button 
            matTooltip = "duplicate"
            color = "primary"
        >
            <mat-icon>file_copy</mat-icon>
        </button>
        <button 
            (click) = "remove.emit()"
            mat-icon-button 
            matTooltip = "remove"
            color = "warn"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
