<div class = "exercise-form">
    <div class = "exercise-name-column">
        <app-exercise-select-form-field [exercise] = "nameFormControl" [exerciseNames] = "exerciseNames"></app-exercise-select-form-field>
    </div>
    <div>
        <app-constraint-form [name] = "'Weight Used (lbs)'" [constraint] = "weightConstraint"></app-constraint-form>
        <app-constraint-form [name] = "'Reps Completed'" [constraint] = "repsConstraint"></app-constraint-form>
        <app-constraint-form [name] = "'Time Peformed (s)'" [constraint] = "durationConstraint"></app-constraint-form>
    </div>
    <button 
        *ngIf = "needsRemoveButton" 
        class = "remove-exercise-button"
        (click) = "removeExercise()"
    >
        Remove Exercise
    </button>
</div>
